* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #614385,  #516395);
}
.header {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}


.Brand-name {
  font-family: 'Helvetica', sans-serif;
  margin: 1%;
  color: #eee2dc;
  background-color: transparent;
}
.head-btn {
  width: 120px;
  height: 50px;
  
  background: transparent;
  border: 2px solid #fff;
  outline: none;   
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 1240px;
  margin-top: 10px;
  transition: .5s;
 
 
  
}
.head-btn:hover{
  background: #fff;
  color: #162938;
  
}


.card-body {
  text-align: center;
  color: white;
}
.card-img {
  width: 100%;
  background: transparent;
  border: 2px solid #fff;
  outline: none;   
  border-radius: 6px;
}
.user-data {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}



.main {
  border: 2px solid #ffffff;
}

.header .btnlogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;   
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;

}
.loading{
font-size: xx-large;
background: transparent;
width: 120px;
  height: 50px;
font-family: 'Helvetica', sans-serif;
position: absolute;
text-align: center;
color: white;
margin-top: 200px;
margin-left: 50%;
margin-right: 49%;
}
